.message {
    max-width: 100%;

    display: grid;
    grid-template-areas: 
        "title time"
        "body body"
        "tags tags";
    
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-content:space-between;
    padding: 10px; 
}

.messagetitle {
    grid-area: title;
    font-size: 1.2em;
    padding-left: 5px;
    overflow: hidden;
}

.messagetime {
    grid-area: time;
    justify-self: right;
    padding-right: 5px;
}

.messagebody {
    grid-area: body;
    padding-left: 5px;
    padding-right: 5px;
}

.messagetags {
    grid-area: tags;
}
