.content {
    display: grid;
    grid-template-areas: 
        "header header header"
        "x content y";
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr) minmax(0, 1fr);
}

.main {
    grid-area: content;
}

.headeritem {
    grid-area: header;
}


/* make the grid responsive */
@media (max-width: 768px) {
    .content {
        grid-template-areas: 
        "header header header"
        "content content content";
    }
}