<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><% preact.title %></title>
        <meta name="description" content="A webapp to receive web pushes as a webhook">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="apple-touch-icon" href="/assets/icons/notify.png">
        <link href='/assets/fonts/fonts.css' rel='stylesheet' type='text/css'>
		<% preact.headEnd %>
	</head>
	<body class="mdc-theme--dark">
		<% preact.bodyEnd %>
	</body>
</html>